---
import ProjectLayout from '../layouts/ProjectLayout.astro';
---

<ProjectLayout title="9 to 5" role="Lighting Designer" description="CWRU Footlighters">
	
	<div class="row"> 
  		<div class="column">
			<img src="/9to5/1046.jpg" style="width:100%">
			<img src="/9to5/1057.jpg" style="width:100%">
  		</div>
  		<div class="column">
			<img src="/9to5/2292.png" style="width:100%">
			<img src="/9to5/1921.jpg" style="width:100%">
  		</div> 
		<div class="column">
			<img src="/9to5/1945.png" style="width:100%">
			<img src="/9to5/2014.jpg" style="width:100%">
  		</div> 
		<div class="column">
			<img src="/9to5/2016.jpg" style="width:100%">
			<img src="/9to5/2283.jpg" style="width:100%">
  		</div> 
	</div>

</ProjectLayout>