---
import ProjectLayout from '../layouts/ProjectLayout.astro';
---

<ProjectLayout title="Dance Concert 2022 - Celebration" role="Lighting Designer" description="CSW Dance Department">
	
	<div class="row"> 
  		<div class="column">
			<img src="/DanceConcert2022_Cerebration/307.jpg" style="width:100%">
			<img src="/DanceConcert2022_Cerebration/351.jpg" style="width:100%">
  		</div>
  		<div class="column">
			<img src="/DanceConcert2022_Cerebration/562.jpg" style="width:100%">
			<img src="/DanceConcert2022_Cerebration/573.jpg" style="width:100%">
  		</div> 
		<div class="column">
			<img src="/DanceConcert2022_Cerebration/351.jpg" style="width:100%">
			<img src="/DanceConcert2022_Cerebration/366.jpg" style="width:100%">
  		</div> 
		<div class="column">
			<img src="/DanceConcert2022_Cerebration/351.jpg" style="width:100%">
			<img src="/DanceConcert2022_Cerebration/307.jpg" style="width:100%">
  		</div> 
	</div>

</ProjectLayout>

