---
import ProjectLayout from '../layouts/ProjectLayout.astro';
---

<ProjectLayout title="Dance Concert 2023 - Eternal Momentum" role="Lighting Designer" description="CSW Dance Department">
	<div class="row"> 
  		<div class="column">
			<img src="/DanceConcert2023_Eternal Momentum/1068.jpg" style="width:100%">
			<img src="/DanceConcert2023_Eternal Momentum/846.jpg" style="width:100%">
  		</div>
  		<div class="column">
			<img src="/DanceConcert2023_Eternal Momentum/002.jpg" style="width:100%">
			<img src="/DanceConcert2023_Eternal Momentum/524.jpg" style="width:100%">
  		</div> 
		<div class="column">
			<img src="/DanceConcert2023_Eternal Momentum/561.jpg" style="width:100%">
			<img src="/DanceConcert2023_Eternal Momentum/164.jpg" style="width:100%">
  		</div> 
		<div class="column">
			<img src="/DanceConcert2023_Eternal Momentum/1211.jpg" style="width:100%">
			<!-- <img src="/DanceConcert2023_Eternal Momentum/xx.jpg" style="width:100%"> -->
  		</div> 
	</div>
</ProjectLayout>