---
import ProjectLayout from '../layouts/ProjectLayout.astro';
---

<ProjectLayout title="Dance Concert 2022" role="Lighting Designer" description="CSW Dance Department">
	
	<div class="row"> 
  		<div class="column">
			<img src="/DanceConcert2022/307.jpg" style="width:100%">
			<img src="/DanceConcert2022/351.jpg" style="width:100%">
  		</div>
  		<div class="column">
			<img src="/DanceConcert2022/562.jpg" style="width:100%">
			<img src="/DanceConcert2022/573.jpg" style="width:100%">
  		</div> 
		<div class="column">
			<img src="/DanceConcert2022/351.jpg" style="width:100%">
			<img src="/DanceConcert2022/366.jpg" style="width:100%">
  		</div> 
		<div class="column">
			<img src="/DanceConcert2022/351.jpg" style="width:100%">
			<img src="/DanceConcert2022/307.jpg" style="width:100%">
  		</div> 
	</div>

</ProjectLayout>

