---
import ProjectLayout from '../layouts/ProjectLayout.astro';
---

<ProjectLayout title="Footloose" role="Tech Director" description="CWRU Footlighters" notes={``}>
	<div class="row"> 
  		<div class="column">
			<!-- <img src="/Footloose/xx.jpg" style="width:100%">
			<img src="/Footloose/xx.jpg" style="width:100%"> -->
  		</div>
  		<div class="column">
			<!-- <img src="/Footloose/xx.jpg" style="width:100%">
			<img src="/Footloose/xx.jpg" style="width:100%"> -->
  		</div> 
		<div class="column">
			<!-- <img src="/Footloose/xx.jpg" style="width:100%">
			<img src="/Footloose/xx.jpg" style="width:100%"> -->
  		</div> 
		<div class="column">
			<!-- <img src="/Footloose/xx.jpg" style="width:100%">
			<img src="/Footloose/xx.jpg" style="width:100%"> -->
  		</div> 
	</div>
</ProjectLayout>