---
import ProjectLayout from '../layouts/ProjectLayout.astro';
---

<ProjectLayout title="Heathers" role="Lighting Designer & Asst. Tech Director" description="CWRU Footlighters" notes={`
In addition to lighting design, I created the arches, used as a center point of the scenic design for the show. 
I worked with the scenic designers on the intial concept, designed and assembled the electrical components, including soldering and wiring 
the LED tape, and configuring the LED decoders to operate via DMX512 protocol.`}>
	<div class="photo-placeholder">Photo 1</div>
	<div class="photo-placeholder">Photo 2</div>
	<div class="photo-placeholder">Photo 3</div>
	<div class="photo-placeholder">Photo 4</div>
	<div class="photo-placeholder">Photo 5</div>
	<div class="photo-placeholder">Photo 6</div>
</ProjectLayout>