---
import ProjectLayout from '../layouts/ProjectLayout.astro';
---

<ProjectLayout title="Legally Blonde" role="Asst. Lighting Designer" description="CWRU Footlighters">
	<div class="row"> 
  		<div class="column">
			<img src="/Legally Blonde/3968.jpg" style="width:100%">
			<img src="/Legally Blonde/3539.jpg" style="width:100%">
  		</div>
  		<div class="column">
			<img src="/Legally Blonde/4873.jpg" style="width:100%">
			<img src="/Legally Blonde/2770.jpg" style="width:100%">
  		</div> 
		<div class="column">
			<img src="/Legally Blonde/3377.jpg" style="width:100%">
			<img src="/Legally Blonde/3426.jpg" style="width:100%">
  		</div> 
		<div class="column">
			<img src="/Legally Blonde/4122.jpg" style="width:100%">
			<img src="/Legally Blonde/2726.jpg" style="width:100%">
  		</div> 
	</div>
</ProjectLayout>