---
import ProjectLayout from '../layouts/ProjectLayout.astro';
---

<ProjectLayout title="Mamma Mia" role="..." description="...">
	<div class="row"> 
  		<div class="column">
			<!-- <img src="/Mamma Mia/xx.jpg" style="width:100%">
			<img src="/Mamma Mia/xx.jpg" style="width:100%"> -->
  		</div>
  		<div class="column">
			<!-- <img src="/Mamma Mia/xx.jpg" style="width:100%">
			<img src="/Mamma Mia/xx.jpg" style="width:100%"> -->
  		</div> 
		<div class="column">
			<!-- <img src="/Mamma Mia/xx.jpg" style="width:100%">
			<img src="/Mamma Mia/xx.jpg" style="width:100%"> -->
  		</div> 
		<div class="column">
			<!-- <img src="/Mamma Mia/xx.jpg" style="width:100%">
			<img src="/Mamma Mia/xx.jpg" style="width:100%"> -->
  		</div> 
	</div>
</ProjectLayout>