---
import ProjectLayout from '../layouts/ProjectLayout.astro';
---

<ProjectLayout title="Pippin" role="Lighting Designer & Head Electrician" description="CSW Theatre Department">
	<div class="row"> 
  		<div class="column">
			<img src="/Pippin/IMG_4318.JPEG" style="width:100%">
			<img src="/Pippin/414.jpg" style="width:100%">
  		</div>
  		<div class="column">
			<img src="/Pippin/318.jpg" style="width:100%">
			<img src="/Pippin/188.jpg" style="width:100%">
  		</div> 
		<div class="column">
			<img src="/Pippin/085.jpg" style="width:100%">
			<img src="/Pippin/867.jpg" style="width:100%">
  		</div> 
		<div class="column">
			<img src="/Pippin/903.jpg" style="width:100%">
			<img src="/Pippin/343.jpg" style="width:100%">
  		</div> 
	</div>
</ProjectLayout>