---
import ProjectLayout from '../layouts/ProjectLayout.astro';
---

<ProjectLayout title="The Visit" role="Lighting Designer & Head Electrician" description="CSW Theatre Department">
	<div class="row"> 
  		<div class="column">
			<img src="/The Visit/1863.jpg" style="width:100%">
			<img src="/The Visit/2112.jpg" style="width:100%">
  		</div>
  		<div class="column">
			<img src="/The Visit/2097.jpg" style="width:100%">
			<img src="/The Visit/2209.jpg" style="width:100%">
  		</div> 
		<div class="column">
			<img src="/The Visit/056.jpg" style="width:100%">
			<!-- <img src="/The Visit/xx.jpg" style="width:100%"> -->
  		</div> 
		<div class="column">
			<!-- <img src="/The Visit/xx.jpg" style="width:100%">
			<img src="/The Visit/xx.jpg" style="width:100%"> -->
  		</div> 
	</div>
</ProjectLayout>