<footer class="footer">
	<div class="footer-content">
		<p>&copy; 2026 Griffin Rabins. All rights reserved.</p>
	</div>
</footer>

<style>
	.footer {
		background-color: rgb(25, 28, 31);
		color: white;
		padding: 1rem 0;
		text-align: center;
	}

	.footer-content {
		/* max-width: 1200px; */
		margin: 0 auto;
        font-size: 0.8rem;
	}
</style>
